<h1>Recognize a Peer for Their Centric Values</h1>

@{
    ViewBag.Title = "Index";
}<h2>Email test results</h2>
@{
    if (TempData["mailError"] != null && TempData["mailError"] != "")
    {
        <h3>
            The following error occurred while trying to send the email message:
            @TempData["mailError"].ToString()
        </h3>
    }
    else
    {
        <h3>Email sent</h3>
    }
}