@{
    ViewBag.Title = "Core Values";
}
<h2>@ViewBag.Title</h2>
<h3>Our Core Values</h3>

<p>
    #1 COMMIT TO DELIVERY EXCELLENCE <br />
    #2 EMBRACE INTEGRITY AND OPENNESS <br />
    #3 PRACTICE RESPONSIBLE STEWARDSHIP <br />
    #4 INVEST IN AN EXCEPTIONAL CULTURE <br />
    #5 IGNITE PASSION FOR THE GREATER GOOD <br />
    #6 STRIVE TO INNOVATE <br />
    #7 LIVE A BALANCED LIFE <br />
</p>
