@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>


<address>
    1020 Dennison Ave<br />
    Columbus, Ohio 43201<br />
    <abbr title="Phone">P:</abbr>
    614-205-8112
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@centricconsulting.com">Support@centricconsulting.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@centricconsulting.com">Marketing@centricconsulting.com</a>
</address>



