@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Centric</h1>
    <p class="lead">Digital, business and technology consulting to transform your business</p>
    <p><a href="https://centricconsulting.com/about-us/" class="btn btn-default btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Business Consulting</h2>
        <p>
            Together we transform your business from the people to the processes.
        </p>
        <p><a class="btn btn-warning" href="https://centricconsulting.com/business-consulting/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Technology Services</h2>
        <p>Together we plan, build and deliver technology to solve problems.</p>
        <p><a class="btn btn-warning" href="https://centricconsulting.com/technology-solutions/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Digital Solutions</h2>
        <p>Together we define your digital strategy and make marketing work.</p>
        <p><a class="btn btn-warning" href="https://centricconsulting.com/digital-consulting-services/">Learn more &raquo;</a></p>
    </div>

</div>
<br />
<br />
<br />
<br />
<div>
    @{
        ViewBag.Title = "Contact";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        1020 Dennison Ave, <br />
        Columbus, OH 43201<br />
        <abbr title="Phone">P:</abbr>
        (614) 205-8112
        @Html.ActionLink("Users", "Index", "Users")
    </address>
</div>