@{
    ViewBag.Title = "Social Media";
}
<h2>@ViewBag.Title</h2>

<div>
    <a class="twitter-timeline" data-width="500" data-height="550" href="https://twitter.com/centric?ref_src=twsrc%5Etfw">Tweets by centric</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <address>
        <strong><a href="#" class="fa fa-linkedin"></a>:</strong>   <a href="https://www.linkedin.com/company/centric-consulting/">Linkedin</a><br />
        <strong><a href="#" class="fa fa-facebook"></a>:</strong>   <a href="https://www.facebook.com/CentricConsultingNational">Facebook</a><br />
        <strong><a href="#" class="fa fa-twitter"></a>:</strong>   <a href="https://twitter.com/centric">Twitter</a><br />
        <strong><a href="#" class="fa fa-instagram"></a>:</strong>   <a href="https://www.instagram.com/centricconsulting/">Instagram</a><br />
        <strong><a href="#" class="fa fa-youtube"></a>:</strong> <a href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw">Youtube</a>
    </address>
</div>
